[package]
name = "sollua"
version = "0.1.0"
edition = "2024"

[dependencies]
logos = "0.15.1"

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
panic = "abort"
incremental = false
strip = true
debug = false
