[package]
name = "sollua"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"
description = "An elegantly fast lua 5.4 parser."

[dependencies]
logos = "0.15.1"

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
panic = "abort"
incremental = false
strip = true
debug = false
